<extend name="layouts/layout" />

<block name="css">
    <link href="__PUBLIC__/bs/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/bs/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/bs/css/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/bs/css/login.min.css" rel="stylesheet">
</block>

<block name="content">
<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>[ 人人 ]</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>人人网社交平台</strong></h4>
                <ul class="m-b">
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 相互交流</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 分享信息</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 自创内容</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 玩游戏，听音乐</li>
                    <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 参与 团购</li>
                </ul>
                <strong>还没有账号？ <a href="{{:U('Register/register')}}">立即注册&raquo;</a></strong><br/>
                <strong>已有账号？ <a href="{{:U('Login/login')}}">立即登录&raquo;</a></strong>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" action="{{:U('Login/sendMail')}}">
                <h4 class="no-margins">忘记密码：</h4>
                <input type="text" class="form-control uname" name="email" placeholder="请输入邮箱" />
                <!--<input type="password" class="form-control pword m-b" name="password" placeholder="密码" />-->
                <div class="form-control" style="padding: 0">
                    <input type="text" style="border: 0;height: 32px;color:black;" class="col-xs-7" name="code" placeholder="验证码"/>
                        <img src="{{:U('yzm')}}"  class="col-xs-5" style="padding: 0;height: 32px;cursor:pointer;" title="点击刷新"  onclick="this.src=this.src+'?'" >
                </div>
                <input type="submit" class="btn btn-success btn-block" value="发送邮件">
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2016 All Rights Reserved. rr
        </div>
    </div>
</div>
</body>
</block>
<block name="script">

    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>
    <if condition="$error eq 1">
        <script>layer.msg('请将登录信息填写完整');</script>
    <elseif condition="$error eq 2"/>
        <script>layer.msg('邮件发送成功');</script>
    <elseif condition="$error eq 3"/>
        <script>layer.msg('邮件发送失败');</script>
    <elseif condition="$error eq 4"/>
        <script>layer.msg('该邮箱未注册');</script>
    <elseif condition="$error eq 5"/>
        <script>layer.msg('请输入正确的验证码');</script>
    </if>
</block>
</html>
