<table class="table table-hover text-center">
    <tr>
        <th width="10%">ID</th>
        <th width="20%">相册封面</th>
        <th width="15%">用户</th>
        <th width="20%">创建时间</th>
        <th width="15%">操作</th>
    </tr>

    <volist name="list" id="data" key="k">
        <tr>
            <td>{{$data.id}}</td>
            <td>
                <if condition="count($data['imageDetial']) eq 0">
                    <img src="__PUBLIC__/home/resources/200.png" alt="" width="120" height="50">
                    <else />
                    <img src="__PUBLIC__/upload/{{$data.imageDetial.0.name}}" alt="" width="120" height="50" />
                </if>
            </td>
            <td>{{$data.username}}</td>
            <td>{{$data.time|date='Y-m-d',###}}</td>
            <td><div class="button-group">
                <a class="button border-main" href="{{:U('Admin/Album/albumDetial/id/'.$data['id'])}}"><span class="icon-road"></span> 相册图片</a>
            </div></td>
        </tr>
    </volist>

    <!--分页部分-->
    <tr>
        <td colspan="8">
            <div class="pagelist">{{$page}}</div>
        </td>
    </tr>
</table>