<extend name="layouts/layout"/>

<block name="content">
    <div class="panel admin-panel">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>{{$fname}}与{{$tname}}的聊天记录</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="{{:U('Admin/doadd')}}" enctype="multipart/form-data">
            <volist name="list" id="v">
                <div class="form-group">
                    <div class="label">
                        <label>{{$v.name}}：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" style="width:800px" value="{{$v.content}}">
                        <div class="tips" style="line-height: 42px;">　{{$v.time|date='Y-m-d H:i:s',###}}</div>
                    </div>
                </div>
            </volist>
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <a href="javascript:void(0)" class="button bg-main icon-check-square-o" onclick="fanhui()">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script>
        function fanhui(){
            window.history.go(-1);
        }
    </script>
</block>