<extend name="layouts/layout"/>

<block name="content">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 查看评论</strong></div>

        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li>
                    <input type="text" placeholder="请输入要搜索的用户 id" id="s-user-id" class="input" style="width:200px; line-height:17px;display:inline-block" />
                    <input type="text" placeholder="请输入要搜索的文章 id" id="s-art-id" class="input" style="width:200px; line-height:17px;display:inline-block" />
                    <a href="javascript:void(0)" class="button border-main icon-search" onclick="changeSearch()" > 搜索</a>
                </li>
            </ul>
        </div>

        <div id="t">
            <table class="table table-hover text-center">
                <tr>
                    <th width="10%">ID</th>
                    <th width="20%">用户名</th>
                    <th width="50%">评论内容</th>
                    <th width="20%">操作</th>
                </tr>

                <volist name="list" id="data" key="k">
                    <tr id="tr{{$data['id']}}">
                        <td>{{$data['id']}}</td>
                        <td>{{$data.name}}</td>
                        <td>{{$data.content}}</td>
                        <td>
                            <div class="button-group">
                                <a class="button border-red" href="javascript:void(0)" onclick="del('{{$data.id}}')"><span class="icon-trash-o"></span> 删除</a>
                            </div>
                        </td>
                    </tr>
                </volist>
                <!--分页部分-->
                <tr>
                    <td colspan="4">
                        <div class="pagelist">
                            {{$page}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>


    </div>
</block>

<block name="script">
    <script>
        // 删除文章
        function del(id) {
            $.ajax({
                type : 'post',
                url : "{{:U('/Admin/Comment/delete')}}",
                data : {
                    'id' : id
                },
                success : function($data) {
                    if ($data == 0) {
                        layer.msg('删除成功', {icon: 6});
                        $('#tr'+id).remove();
                    }else {
                        layer.msg('删除失败', {icon: 5});
                    }
                }
            });
        }

        function changeSearch() {
            var u_id = $('#s-user-id').val();
            var art_id = $('#s-art-id').val();

            // 判断输入的id是否时整数且大于0
            if (u_id.trim() != '' && !(/^([\d+]?)+$/.test(u_id) && u_id > 0)) {
                layer.alert('用户的id必须是大于0 的整数');
                return;
            }

            if (art_id.trim() != '' && !(/^([\d+]?)+$/.test(art_id) && art_id > 0)) {
                layer.alert('文章的id必须是大于0 的整数');
                return;
            }

            if (u_id.trim() != '' || art_id.trim() != '') {
                $.ajax({
                    type : 'post',
                    url : "{{:U('/Admin/Comment/commentSearch')}}",
                    data : {
                        'article_id' : art_id,
                        'user_id' : u_id
                    },
                    success : function($data) {
                        $('#t').html($data);
                    }
                });
            }
        }

        function goSearch(url) {
            $.ajax({
                type : 'get',
                url : url,
                success : function($data) {
                    $('#t').html($data);
                }
            });
        }
    </script>
</block>